{% load staticfiles %}

<html>
    <head>
        <!-- Title -->
        {% block title %}{% endblock %}

        <link rel="shortcut icon" href='../assets/images/favicon.ico' />
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
        <meta name="description" content="light it test task" />
        <meta name="keywords" content="light it, task, test" />
        <meta name="author" content="t4kq" />

    </head>

    <!-- Styles -->
    <link href='{% static "vendor/css/bootstrap.min.css" %}' rel="stylesheet">
    <link href='{% static "css/style.css" %}' rel="stylesheet"/>
    <!-- Collapsed -->
    <link href='{% static "css/collapsed.css" %}' rel="stylesheet"/>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>

    <!-- Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='{% static "vendor/js/bootstrap.min.js" %}'></script>

    <!-- Content -->
        {% block content %} {% endblock %}
    <!-- End Content -->

</html>
