{% load staticfiles %}
<div class="row post-comments">

    {% if user.is_authenticated %}
        <!-- Send form -->
        <form>
            <div class="form-group">
                <label for="comment-form">Your Comment</label>
                <textarea id="comment-form" name="comment" class="form-control comment-area" rows="3"></textarea>
            </div>
            <a id="main-submit" href='#' class='ph-button ph-btn-grey'>Submit message</a>
        </form>

    {% else %}

        <!-- Sign in -->
        {% include 'sign_in.html' %}

        <div class="col-md-12">
            <p class="help_message">" You need to sign in to comment and add messages "</p>
        </div>

    {% endif %}

    <!-- All comment form -->
    <div class="comments-nav">
        <a href="#">show all {{ all_messages }} messages</a>
        {% if user.is_authenticated %}
            /
            <a href='{% url "account_logout" %}'>sign out</a>
        {% endif %}
    </div>

    <!-- MPTT tree -->
    {% load mptt_tags %}

    <!-- Comment form -->
    <div class="row comment-left">
        <div class="media">
            <!-- first comment -->

            {% recursetree nodes %}
                <div class="media-heading">
                    <button class="btn btn-default btn-xs" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseExample">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>
                    <span class="label label-info">{{ node.date_save|date:'d.m.Y H:i'}}</span>
                    by {{ node.user.username }}
                </div>

                <div class="panel-collapse collapse in" id="collapseOne">
                    <div class="media-left">
                        <div class="vote-wrap">
                            <div class="save-post">
                                <a id="vote_{{ node.id }}" href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>
                            </div>
                        </div>
                        <!-- vote-wrap -->
                    </div>
                    <!-- media-left -->

                    <div class="media-body">
                        <p class="media-body-comment">{{ node.message }}</p>
                        <div class="comment-meta">
                            <span><a href="#">delete</a></span>

                            {% if user.is_authenticated %}

                            <span>
                                <a class="" role="button" data-toggle="collapse"
                                   href="#replyCommentT_{{ node.id }}" aria-expanded="false" aria-controls="collapseExample">reply</a>
                            </span>

                            {% endif %}

                            <div class="collapse" id="replyCommentT_{{ node.id }}">
                                <form>
                                    <div class="form-group">
                                        <label for="comment-form-{{ node.id }}">Your Comment</label>
                                        <textarea id="comment-form-{{ node.id }}" name="comment" class="form-control comment-area" rows="3"></textarea>
                                    </div>
                                    <a href='#' class='ph-button ph-btn-grey'>Submit message</a>
                                </form>
                            </div>
                        </div>

                        <!-- comment-meta -->
                        {% if not node.is_leaf_node %}
                            {{ children }}
                        {% endif %}

                    </div>
                </div>
            <!-- comments -->
            {% endrecursetree %}
        </div>
    </div>
</div>

<script type="text/javascript" src='{% static "js/collapsed.js" %}'></script>