{% extends "base.html" %}
{% load staticfiles %}

<!-- Title block -->
{% block title %}
    <title>Make me free | Nice to meet you</title>
{% endblock %}
<!-- End Title Block -->

<!-- Main block -->
{% block content %}
<body>
    <div class="container">

	    <div class="row text-center">
		    <h2 class="logo">Make me free</h2>
            <p class="current_font">Just leave you message...</p>
	    </div>

        <div class="row">
            <div class="empty"></div>
        </div>

        <!-- Sign in -->
        {% include 'sign_in.html' %}


    </div>
</body>

{% endblock %}