<div class="row">
    <div class="col-md-3">
        <a href="/accounts/twitch/login" class="btn btn-twitch ribbon current_font_simple">
            Sign in with Twitch
        </a>
    </div>

    <div class="col-md-3">
        <a href="/accounts/facebook/login" class="btn btn-primary ribbon current_font_simple">
            Sign in with Facebook
        </a>
    </div>

    <div class="col-md-3">
        <a href="/accounts/github/login" class="btn btn-default ribbon current_font_simple">
            Sign in with Github
        </a>
    </div>

</div>